{% extends 'head.html' %}
{% block body %}
<body style="background-image:url(/static/img/wallpaper_1280_1024.svg); background-size:cover; background-repeat:no-repeat;">
  <header>
  </header>

  {% block container %}
  {% endblock %}

</body>
{% endblock %}
