<!-- accounts/templates/container.html -->
{% extends 'body.html' %}
{% load staticfiles %}

{% block container %}
<div class="container mt-5">

  {% if not user.is_authenticated %}

  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <img src="{% static 'img/openlogo-nd.svg' %}" class="mx-auto d-block mb-5">
      <div class="rounded p-4" style="background-color:white; opacity: 0.9; ">
      {% if messages %}
      <div class="messages">
        {% for message in messages %}
        <p class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}
      {% block anoncontent %}
      {% endblock %}
      </div>
      {% url 'login' as login_url %}
      {% if request.path != login_url and request.path != '/' %}
      <div class="text-center">
      <a href="{% url 'login' %}">Login</a>
      </div>
      {% endif %}
      </div>
    <div class="col-sm">
    </div>
  </div>

  {% else %}

    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <p class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}

  {% endif %}

</div>
{% endblock %}
