<!-- accounts/templates/ldapuser_card.html -->
{% extends 'container.html' %}
{% load staticfiles %}
{% load filters %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between"> 
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item"><a class="nav-link {% if 'profile' in request.path %}active{% endif %}" href={% url 'profile' %}>{{ request.user.username }}</a></li>
          <li class="nav-item"><a class="nav-link {% if 'sshkeys' in request.path %}active{% endif %}" href={% url 'sshkeys' %}>SSH Keys</a></li>
          <li class="nav-item"><a class="nav-link {% if 'password_change' in request.path %}active{% endif %}" href={% url 'password_change' %}>Password</a></li>
          <li class="nav-item"><a class="nav-link {% if 'deleterequest' in request.path %}active{% endif %}" href={% url 'deleterequest' %}>Delete Account</a></li>
        </ul>
          <a href="{%url 'logout' %}"><img src="{%static 'img/fa/sign-out-alt.svg' %}" width="25"></a>
        </div>
      </div>
      <div class="card-body">
        {% block card-body %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
